<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>

    <title>Faq</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

<div class="col-sm-6 accordion_one">
    <div class="panel-group" id="accordionFourLeft">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion_oneLeft" href="#collapseFiveLeftone" aria-expanded="false" class="collapsed"> How to get refunds</a> </h4>
            </div>
            <div id="collapseFiveLeftone" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                <div class="panel-body">
                    <div class="img-accordion"> <img src="https://img.icons8.com/cotton/2x/refund.png" alt="icon1"> </div>
                    <div class="text-accordion">
                        <p> You will need to get in touch with our customer support team. </p>
                    </div>
                </div> <!-- end of panel-body -->
            </div>
        </div> <!-- /.panel-default -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion_oneLeft" href="#collapseFiveLeftTwo" aria-expanded="false"> How to get in touch with the Store</a> </h4>
            </div>
            <div id="collapseFiveLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                <div class="panel-body">
                    <div class="img-accordion"> <img src="https://us.123rf.com/450wm/ihorbiliavskyi/ihorbiliavskyi1812/ihorbiliavskyi181200475/114297303-stock-vector-smartphone-in-hands-isolated-on-white-background-man-s-hand-holding-a-phone-in-hand-realistic-templa.jpg?ver=6" alt="icon2"> </div>
                    <div class="text-accordion">
                        <p> Call our number at 1800-999-999</p>
                    </div>
                </div> <!-- end of panel-body -->
            </div>
        </div> <!-- /.panel-default -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion_oneLeft" href="#collapseFiveLeftThree" aria-expanded="false"> What happens if I have lost an item? </a> </h4>
            </div>
            <div id="collapseFiveLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                <div class="panel-body">
                    <div class="img-accordion"> <img src="https://cdn4.iconfinder.com/data/icons/erp-software-icon-set-1/512/show_missing_items-512.png" alt="icon3"> </div>
                    <div class="text-accordion">
                        <p> You will need to get in touch with our Customer Support Live Chat. </p>
                    </div>
                </div> <!-- end of panel-body -->
            </div>
        </div> <!-- /.panel-default -->
             <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion_oneLeft" href="#collapseFiveLeftFour" aria-expanded="false"> Can I shop online? </a> </h4>
            </div>
            <div id="collapseFiveLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                <div class="panel-body">
                    <div class="img-accordion"> <img src="https://img.icons8.com/fluent/2x/new-store.png" alt="icon4"> </div>
                    <div class="text-accordion">
                        <p> Yes we currently offer a variety of products online. </p>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
</div>

</div>
</body>
</html>